*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url('bg4.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.form{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 120px;
}
.button{
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: #1CA7F8;
    color: rgb(255, 255, 255);
    text-align: center;
}
button:hover{
    opacity: 0.9;
}
.form_title{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.sub{
    color: white;
    line-height: 30px;
}
.input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1CA7F8;
}
.input::-webkit-input-placeholder{
    color: rgb(173, 173, 173);
}
.link{
    text-align: right;
    font-size: small;
}
a{
    color: white;
}